/* Universal Styles */

body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: normal;
    color: white;
}

h2 {
    width: 100%;
    font-size: 42px;
    font-weight: 300px;
    color: #fff;
}

h3 {
    font-size: 21px;
    color: #808080;
}

a {
    color: #7fffd4;
    font-size: 16px;

}

/* Body */

header {
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.travel-guide {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.iphone {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.far {
    color: gray;
    padding-right: 10px;
}

footer h3 {
    padding-right: 30px;
}



